.illustration {
	max-width: 100%;
}

.german-non-sense {
	font-weight: 400;
	font-size: 26px;
	color: rgb(0, 0, 0);
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	padding-top: 30px;
}

.title {
	font-weight: 400;
	font-size: 44px;
	color: rgb(59, 59, 59);
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.paragraph {
	padding-top: 20px;
	font-weight: 400;
	font-size: 16px;
	color: rgb(59, 59, 59);
	font-family: 'Poppins', sans-serif;
	text-align: left;
}

